@import './resets';
@import './variables';
@import '../scss/components/mobilemenu';


 /* setting the initial content attributes here */
 /* start initial design with mobile design first */
 body {
  background-color: white;
  /* height: 100vh; */
  /* setting max-width to width of image provided */
}



.section-one {
  display: grid;
  max-width: 100vw;
  height: 100vh;
  background: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-template-rows: 200px 260px;

}

.section-one-heading {
  grid-row-start: 2;
  color: white;
  font-family: $ff-secondary;
  font-size: 2.75rem;
  text-transform: uppercase;
  line-height: 1;
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem;

  
}


.section-two {
  max-width: 100vw;
  margin: auto;
}

.section-two-picture {
  padding: 1rem;
  padding-top: 4rem;
}

.section-two-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $ff-secondary;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  color: black;
  text-align: center;
}

.section-two-paragraph {
  font-family: $ff-prime;
  font-weight: 400;
  font-size: .75rem;
  line-height: 2;
  color: hsl(0, 0%, 55%);
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}


.section-three-header {
  margin-top: 4rem;
  padding: 3rem;

}

.section-three-header .title {
  font-family: $ff-secondary;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

.btn-outlined-secondary {
  display: none;
}


.section-three-images {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1rem;
}

.section-three-picture {
  position: relative;
}

.section-three-picture img:hover {
  filter: blur(5px);

}


.picture-description {
  position: absolute;
  top: 55%;
  left: 5%;
  font-family: $ff-secondary;
  font-size: 2rem;
  color: white;
  line-height: 1;
  width: 150px;
}

.btn-outlined-secondary-two {
  margin-top: 2rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: .5rem 3.5rem;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  font-family: $ff-prime;
}

.btn-outlined-secondary-two:hover {
  background-color: black;
  color: white;
}

.section-three-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 2rem;
  background: black;
}

.nav-footer {
  font-family: $ff-prime;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-footer li {
  margin-bottom: 1rem;
}

.nav-footer .btn {
  color: white;
  font-size: .75rem;
  text-decoration: none;
}


.nav-footer .btn:hover {
  color: gray;
}


.footer-logo {
  margin: auto;
  align-items: center;
  padding: 1rem;
  color: white;
}

.social-icons {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.social-icons i {
  color: white;
  margin-left: 1.5rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.copyright-text {
  font-family: $ff-prime;
  font-size: .75rem;
  color: white;
  padding: 2rem;
}